.landingpage {
  height: 37rem;
  background-image: url("../asset/images/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 1px 1px black;
}

.intro {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 3em;
  font-weight: 900;
  line-height: 1em;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #010101;
  position: relative;
  z-index: 1;
}

.email-input {
  width: 350px;
  height: 50px;
  background-color: rgba(0, 255, 255, 0.219);
  border: 1.3px solid rgb(11, 203, 11);
  color: white;
  border-radius: 5px;
  position: relative;
  top: 4.2em;
  font-size: 15px;
  font-weight: 500;
  z-index: 1;
}

.email-input::placeholder {
  color: #fafafa;
  padding-left: 5px;
}

.btn-landingpage {
  width: 100px;
  height: 50px;
  color: white;
  background-color: rgb(151, 0, 0);
  border-radius: 5px;
  position: relative;
  top: 4em;
  left: 5px;
  border: none;
  z-index: 1;
}

.gradient_bottom {
  height: 32rem;
  position: relative;
  bottom: 30rem;
  background: linear-gradient(to top, #010101, #3534341a);
}

.gradient_top {
  height: 10px;
  margin-top: -40px;
  padding-bottom: 100px;
  background: linear-gradient(to bottom, #0a0909, #29282800);
}

.text-item {
  position: relative;
}

/* Media query untuk layar berukuran kecil ( ponsel) */
@media (max-width: 360px) {
  .hero-title {
    font-size: 1.5em;
    bottom: 1em;
  }

  .email-input {
    width: 170px;
    height: 35px;
    border-radius: 5px;
    position: relative;
    top: -1rem;
    left: 3em;
    font-size: 12px;
    font-weight: 300;
    background-color: rgba(50, 52, 52, 0.491);
    border: 1.3px solid rgb(196, 196, 196);
  }

  .email-input::placeholder {
    color: #fafafaf1;
    padding-left: 5px;
  }

  .btn-landingpage {
    width: 75px;
    height: 30px;
    font-size: 10px;
    position: relative;
    top: 2em;
    left: -9em;
  }
}

/* Media query untuk layar berukuran kecil ( ponsel full screen) */
@media (min-width: 361px) and (max-width: 768px) {
  .landingpage {
    height: 35rem;
    background-image: url("../asset/images/background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 1px black;
  }

  .gradient_bottom {
    height: 30rem;
    position: relative;
    bottom: 30rem;
  }

  .gradient_top {
    height: 10px;
    width: 100%;
    background: linear-gradient(to bottom, #0a0909, #29282800);
  }

  .text-item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    bottom: 1em;
  }

  .hero-title {
    font-size: 1.1em;
    font-weight: 800;
    line-height: 1em;
    color: rgb(255, 255, 255);
  }

  .email-input {
    width: 250px;
    height: 40px;
    background-color: rgba(50, 52, 52, 0.491);
    border: 1.3px solid rgb(196, 196, 196);
    color: white;
    border-radius: 5px;
    position: relative;
    top: 2em;
    left: 3em;
    font-size: 12px;
    font-weight: 300;
  }

  .email-input::placeholder {
    color: #fafafaf1;
    padding-left: 5px;
  }

  .btn-landingpage {
    width: 90px;
    height: 40px;
    font-size: 15px;
    position: relative;
    top: 5em;
    left: -8em;
  }

  .intro {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Media query untuk layar berukuran sedang (misalnya, tablet) */
@media (min-width: 769px) and (max-width: 1024px) {
  .landingpage {
    height: 50rem;
    background-image: url("../asset/images/background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 1px black;
  }

  .text-item {
    top: 1em;
  }

  .hero-title {
    font-size: 3em;
    font-weight: 900;
    line-height: 1em;
    color: rgb(255, 247, 247);
  }

  .email-input {
    width: 300px;
    height: 50px;
    color: white;
    border-radius: 5px;
    position: relative;
    top: 2em;
    left: 1em;
    font-size: 15px;
    font-weight: 300;
  }

  .email-input::placeholder {
    color: #fafafa;
    padding-left: 5px;
  }

  .btn-landingpage {
    width: 100px;
    height: 50px;
    font-size: 15px;
    position: relative;
    left: 1.5em;
    top: 2em;
    font-weight: 700;
  }

  .intro {
    height: 40rem;
    display: flex;
    justify-content: center;
  }

  .gradient_bottom {
    height: 43rem;
    position: relative;
    bottom: 37rem;
  }
}
